services:
  backend:
    # image: backend:latest
    # container_name: backend
    # hostname: streaming-api
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: ${NODE_ENV}
    restart: always
    volumes:
      - ./app/videos:/app/videos
    # command: nodemon start
    environment:
      NODE_ENV: ${NODE_ENV}
    # ports:
    #   - ${PORT}:3000
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - 3000:3000
      - 80:80
      - 443:443
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    name: app-network
    driver: bridge
