services:
  backend:
    # image: backend:latest
    # container_name: backend
    hostname: streaming-api
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: development
    restart: always
    volumes:
      # - ./www/etraining/_uploads/media/mp4:/app/videos
      - ./app/videos:/app/videos
    command: nodemon start
    environment:
      NODE_ENV: development
    # ports:
    #   - 3000:3000
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - ${PORT}:${PORT}
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    name: app-network
    driver: bridge
